{% extends base.html %}

{% block title %}
热力图
{% end %}

{% block navbar %}
<li class="active"><a href="#">热力图</a></li>
<li><a href="/charts/bar">柱状图</a></li>
<li><a href="/charts/line">折线图</a></li>
{% end %}


{% block main %}
<div class="container" style="width: 100%;height:1000px;">
    <p class="summary">QQ群一周发言热力图：每一格表示当前周的某一天的某一个小时的所有人发送信息数量。</p>
    <span><strong>群号码</strong></span>
    <label>
        <select>

            {% for group in group_id %}
            <option value={{ group }}>{{ group }}</option>
            {% end %}
        </select>
    </label>

    <div id="main" style="width: 100%;height:85%;"></div>

</div>
{% end %}


{% block script %}
<script src="{{ static_url('js/charts/heat.js') }}"></script>
{% end %}

