{% extends base.html %}

{% block title %}
热力图
{% end %}

{% block navbar %}
<li class="active"><a href="#">热力图</a></li>
<li><a href="/charts/bar">柱状图</a></li>
<li><a href="/charts/line">折线图</a></li>
{% end %}


{% block main %}
<div class="container" style="width: 100%;height:768px;">
	<div id="top" style="margin-left: 85px;">
		<p class="summary">QQ群一周发言热力图：每一格表示当前周的某一天的某一个小时的所有人发送信息数量。</p>
		<span class="my my1 btn btn-primary dropdown-toggle ft18">群号码</span>
		
		<label >
		    <select class="my my1 btn btn-primary dropdown-toggle ft18" id="group">
		
		        {% for group in group_id %}
		        <option value={{ group }}>{{ group }}</option>
		        {% end %}
		    </select>
		</label>
		<label >
		    <select class="my my1 btn btn-primary dropdown-toggle ft18" id="year">
		
		        {% for year in years %}
		        <option value={{ year }}>{{ year }}</option>
		        {% end %}
		    </select>
		</label>
		<label >
		    <select class="my my1 btn btn-primary dropdown-toggle ft18" id="week">
		
		        {% for week in weeks %}
		        <option value={{ week }}>{{ week }}</option>
		        {% end %}
		    </select>
		</label>
	</div>
    


    <div id="main" style="width: 100%;height:85%;"></div>
</div>


{% end %}


{% block script %}

 <script src="{{ static_url('js/charts/heat.js') }}"></script>

{% end %}

