{% extends base.html %}

{% block title %}
折线图
{% end %}

{% block navbar %}
<li><a href="/charts/heat">热力图</a></li>
<li><a href="/charts/bar">柱状图</a></li>
<li class="active"><a href="#">折线图</a></li>
{% end %}


{% block main %}
<div class="container" style="width: 100%;height:1000px;">
	<div id="top" style="margin-left: 85px;">
		<p class="summary"></p>
		<span class="my my1 btn btn-primary dropdown-toggle ft18">群号码</span>
		<label>
		    <select class="my my1 btn btn-primary dropdown-toggle ft18">
		
		        {% for group in group_id %}
		        <option value={{ group }}>{{ group }}</option>
		        {% end %}
		    </select>
		</label>
		
	</div>
    
    <br>


    <div id="line_bar" style="width: 100%;height:50%;"></div>


</div>
{% end %}


{% block script %}
<script src="{{ static_url('js/charts/line.js') }}"></script>
{% end %}

