{% extends base.html %}

{% block title %}
折线图
{% end %}

{% block navbar %}
<li><a href="/charts/heat">热力图</a></li>
<li><a href="/charts/bar">柱状图</a></li>
<li class="active"><a href="#">折线图</a></li>
{% end %}


{% block main %}
<div class="container" style="width: 100%;height:1000px;">
    <p class="summary"></p>
    <span><strong>群号码</strong></span>
    <label>
        <select>

            {% for group in group_id %}
            <option value={{ group }}>{{ group }}</option>
            {% end %}
        </select>
    </label>
    <br>


    <div id="line_bar" style="width: 100%;height:60%;"></div>


</div>
{% end %}


{% block script %}
<script src="{{ static_url('js/charts/line.js') }}"></script>
{% end %}

